In [15]:
with open("/home/stijn/Documents/Dev/School/Jaar_4/Minor/ML5/capstone/data/waterhoogte_rucphen/RUC0011_WTH_RIO.Waterhoogte.csv") as file_data:
    lines = file_data.readlines()[16:]
    counter = 0
    
    for line in lines:
        import re

        pattern = re.compile(r'^[^;]+;[^;]+;[^;]+;[^;]+;[^;]+$')

        # Example usage
        csv_row = 'value1;value2;value3;value4;value5'
        if pattern.match(line):
            print("Match found!: " + lines[counter])
        counter+1

In [26]:
import pandas as pd
df = pd.read_csv("/home/stijn/Documents/Dev/School/Jaar_4/Minor/ML5/capstone/data/waterhoogte_rucphen/RUC0011_WTH_RIO.Waterhoogte.csv", sep=';',skiprows=15)
df.head()

         Date      Time  Value [mNAP]           Quality
0  01-01-2018  00:00:47          5.92  100 (AutoValide)
1  01-01-2018  00:01:45          5.92  100 (AutoValide)
2  01-01-2018  00:02:44          5.92  100 (AutoValide)
3  01-01-2018  00:03:44          5.92  100 (AutoValide)
4  01-01-2018  00:04:42          5.92  100 (AutoValide)